<ng-container>
  <h2>Introduction</h2>
  <p>I'm Simon. As a software engineer and as a Greek geek, I have the ability to create tools which help me learn
    Greek. If I
    could find the time that is...</p>
  <p>I write the start and end date for reading books. On 11 October 2013, I started reading William Mounce's <i>Basics
    of Biblical Greek</i>. As with everything new you start with, you start very good, but don't end that good. Well,
    that's exactly what happened to me. I went on and off and didn't even start with the verb system.</p>
  <p>But in 2020, around August, I decided that I need to up my game and <i>at least</i> finish the book. Having started
    with the verb system I released how important it was to recognize the different forms of the words and how important
    is that for the meaning. I started creating exercises for myself to write out the different paradigms. I would write
    every paradigm sometimes 6 times a week.</p>
  <p>All that to say, that recognizing the forms is very important. From <a
    href="https://www.youtube.com/c/MasterNewTestamentGreek">Darryl Burling</a>, I learned that setting goals for Greek
    is very important. So I set up a goal toward the end of October 2020:</p>
  <blockquote>
    Read, parse, and translate 1-3 John by the end of the year.
  </blockquote>

  <p>For reading and translating there are various tools. I personally use TheWord Bible software. It is a free Bible
    software which I've used for very long and enjoy. You can buy modules and there a ton of free modules. I can quickly
    search for words and their meanings and even morphologies. So that's no problem. Parsing is also possible to do with
    a real Bible, but that's kinda boring to go word-for-word.</p>
  <p>From the <a href="http://dailydoseofgreek.com/">Daily Dose Of Greek</a> I learned of <a
    href="https://mastergreek.com/">MasterGreek.com</a>.
    I very much liked the concept and what I could do. Because I often used the website on my phone, the experience
    irritated me because when I would scroll down to choose an option, the browser would refresh and I would lose my
    progress. Furthermore, it did not provide me with the option to achieve my goal: Read, <b>parse</b>, and translate
    1-3 John.</p>
  <p>Having found some spare time, and sadly not learning but programming Greek instead, I managed to create something
    which would bridge the gap. I pray that it is also a blessing to you and that it may help you learn Greek
    better.</p>

  <h2>How to use</h2>
  <p>Per default, words which are not declinable are left out. When you don't choose any of the 'types', you get all
    unique declinable word forms which occur in the chosen range. This also includes types of words which are not
    included in the 'types' checkboxes on the home page (e.g., conditional particles).</p>
  <p>Definitions are also included for words from Dodson's Greek Lexicon as well as Mounce's definitions. In some cases,
    another lexicon is used which I'm not sure which one it is.</p>
  <p>In the case of <b>verbs</b> as a type (on the main page), verbs include participles as well as infinitives (which
    can be chosen as the 'mood' of the word.</p>
  <p>For verbs, you will see an additional checkbox asking if you want <b>secondary tenses</b>.
    By secondary tenses, I mean 2nd Aorist, 1st and 2nd Perfect. By default, answering with Aorist for a 2nd Aorist verb
    is acceptable. But when the <b>secondary tenses</b> option is checked, the secondary tenses appear as options on the
    parsing
    page and the exact tense has to be given for a word to be accepted as correct. </p>

  <h2>What made this possible</h2>

  <ul>
    <li>The Greek text is from <a href="https://github.com/bibleforge/BibleForgeDB">BibleForgeDB</a> with the
      morphological codes of Robinson
    </li>
    <li>
      Various parts of the following projects:
      <ul>
        <li>The OpenGNT project which is tremendous: <a href="https://github.com/eliranwong/OpenGNT">GitHub</a>
        </li>
        <li><a href="https://github.com/biblicalhumanities/Dodson-Greek-Lexicon">Jeffrey Dodson's Greek Lexicon</a></li>
        <li><a href="https://github.com/billmounce/dictionary">William D. Mounce's Lexicon</a></li>
        <!--        <li>-->
        <!--          <a href="https://github.com/translatable-exegetical-tools/Abbott-Smith">Abbott-Smith</a>-->
        <!--        </li>-->
      </ul>
    </li>
  </ul>

  <h2>Contact</h2>
  <p>If you want to contact me, feel free to e-mail me at: <a href="mailto:admin@thecalvinist.net">admin@thecalvinist.net</a>
    or go to the <a href="/contact">contact page</a>.
  </p>
</ng-container>
