blockquote {
  padding: 20px 20px 20px 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 20px;
  width: max-content;
  border-left: 6px #00a3d9 outset;
  border-bottom: 4px #00a3d9 inset;
  margin-left: 25px;
}

blockquote p {
  margin: 5px;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}
