<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div *ngIf="!answerIsRight">
    <h2 mat-dialog-title>Wrong answer :(</h2>
    <div mat-dialog-content>
      Do you want to try again or should I give you the answer?
    </div>
    <br/>
    <div *ngIf="!dontShowTheAnswer"
         [innerHTML]="morphologyGenerator.convertWordPartsToReadableForm(currentWord.partsOfSpeech, true)"
         style="margin-left: 25px">
    </div>
    <div *ngIf="hintRightPartOfAnswer !== undefined && !dontShowTheHint" style="margin-left: 25px">
      <p>Hint: The {{hintRightPartOfAnswer.type.toLowerCase()}} is <span
        class="font-italic">{{hintRightPartOfAnswer.name.toLowerCase()}}</span>
        <span *ngIf="hintRightPartOfAnswer.headCategory !== undefined">
          ({{hintRightPartOfAnswer.headCategory.name}})</span></p>
    </div>
    <div *ngIf="hintWrongPartOfAnswer !== undefined && !dontShowTheHint" style="margin-left: 25px">
      <p>Hint: This word does not have a <span
        class="font-italic">{{hintWrongPartOfAnswer.type.toLowerCase()}}</span>.
    </div>
    <br/>
    <div mat-dialog-actions>
      <button mat-button (click)="dontShowTheHint = !dontShowTheHint;">Give me a hint</button>
      <button mat-button (click)="dontShowTheAnswer = !dontShowTheAnswer;">Give me the answer</button>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </div>

  <div *ngIf="answerIsRight">
    <h2 mat-dialog-title>Good job!</h2>
    <br/>
    <div mat-dialog-content *ngIf="!correctedAnswer">Keep going!</div>
    <div mat-dialog-content *ngIf="correctedAnswer">Good correction, but it will not be counted.</div>
    <br/>
    <div mat-dialog-actions>
      <button mat-button [disabled]="hasNextWord" (click)="goToNextWord()">Go to the next word</button>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </div>
</div>
