<div>
  <h3>Resources</h3>
  <p>Here are some Greek resources that may be helpful to you. But first, I would to advertise my first website called
    <a href="http://thecalvinist.net/">The Staunch Calvinist</a> on which I've tried to give a full
    <a href="http://thecalvinist.net/1689">biblical exposition</a> of the 1689 Baptist Confession.</p>

  <p><a href="https://www.mastergreek.com">MasterGreek.com</a> is a great resource for parsing through words. You can
    see it as a companion resource for this site.</p>
  <h4>Written</h4>

  <ul>
    <li>Paradigms:</li>
    <ul>
      <li><a href="/paradigms">A color coded set of tables with verb paradigms that are available on this site</a></li>
      <li><a href="https://www.thecalvinist.net/post/Koine-Greek-Verb-Parsing-Flowchart">Verb parsing paradigm that I've
        made</a></li>
      <li><a href="https://www.logos.com/images/products/6338/6x9.pdf">Paradigms chart from Logos</a></li>
      <li><a href="https://1drv.ms/b/s!AumGOHPBIncYxsMmUIdUlIawUy_uiw?e=B1UNKs">Verb paradigm for <span class="greek">λύω</span>
        from Matthew S. Collins</a></li>
      <li><a href="https://1drv.ms/b/s!AumGOHPBIncYg7lpu9Pk_F4hXVisRw?e=fmAVTW">Master participle chart and
        flowchart</a></li>
      <li><a href="https://1drv.ms/b/s!AumGOHPBIncYxsYs6-X5K6kFR_PyvQ?e=SrzFgv">Guide for Greek Participles</a></li>
      <li><a href="https://1drv.ms/b/s!AumGOHPBIncYxsYs6-X5K6kFR_PyvQ?e=SrzFgv">Participle use flowchart</a></li>
      <li><a href="https://1drv.ms/b/s!AumGOHPBIncYxsM-BhVWNTPNuYTDbA?e=xpg9CF">Prepositions chart</a></li>
      <li><a href="https://1drv.ms/b/s!AumGOHPBIncYg7lnxwqEkZFhmvIHQg?e=BiYzf0">Pronoun flexions</a></li>
      <li><a href="https://1drv.ms/b/s!AumGOHPBIncYxsMnCLbBPzt0JA1lYA?e=agxbIu">Contraction rules</a></li>
    </ul>

    <li><a href="http://unbound.biola.edu/index.cfm?method=greekSearch.showSearchForm&detached=1">Greek Lexical
      Parser:
      allows you to type in a word (whether in
      Greek or transliterated) and get parsing information as well as paradigms.</a>
    </li>

    <li>Multiple great resources from the <a href="http://biblicalgreek.org/grammar/">Institute of Biblical Greek</a>
      (also video resources).
    </li>
    <li><a href="https://dailydoseofgreek.com/new-testament-greek-resources/">Resources from Dr. Robert Plummer</a></li>
  </ul>

  <h4>Exercises</h4>
  <p>These are exercises that I've created for me and it is constantly updated as I learn new things</p>

  <iframe
    src="https://onedrive.live.com/embed?cid=187722C1733886E9&resid=187722C1733886E9%211155391&authkey=AMsKn-V9D8b2lag&em=2"
    width="476" height="288" frameborder="0" scrolling="no"></iframe>

  <p><strong>Answers</strong>: this is a fuller document of all exercises. You can better use this document. If you want
    to use these exercises, then simply remove then answers and fill the document.</p>
  <iframe
    src="https://onedrive.live.com/embed?cid=187722C1733886E9&resid=187722C1733886E9%211155191&authkey=AC9IL-9FUV_q-gU&em=2"
    width="476" height="288" frameborder="0" scrolling="no"></iframe>
  <h4>Video</h4>

  <h5>Daily Dose of Greek</h5>
  <p><a href="https://dailydoseofgreek.com/">Subscribe</a> for the daily videos from Dr. Robert Plummer. </p>
  <h5>Darryl Burling</h5>
  <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLpeRcvOZ8zh97fufXOr573GdpQDtrBlaq" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

  <h5>Lectures on the Basics of Biblical Greek from Dr. Mark Schuler</h5>
  <p>For those using Dr. William Mounce's grammar, these lectures are great and explain a lot of things in more detail
    than <a href="https://www.youtube.com/playlist?list=PLMqCPZpkjEcQw-WeAOxBqu3s4GBzX_HbF">Dr. Mounce's own videos</a>
  </p>

  <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLtWjBsIVZMZqldIL9BImbPEkkU4PQFpYK" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>
