<ng-container class="container" *ngIf="word !== null">
  <div class="alert alert-secondary text-center font-weight-bold" role="alert">
    {{ state.bibleRange}} ({{wordIndex}} of {{words.length}} words)
    <div>
      <span style="color: green" class="mr-2"><fa-icon [icon]="thumbsUp"></fa-icon>
        {{goodAnswers.length}}</span>
      <span style="color: red"><fa-icon [icon]="thumbsDown"></fa-icon>
        {{wrongAnswers.length}}</span>
    </div>
  </div>

  <div #mainContent [class.bg-danger]="wrongAnswers.includes(wrongAnswerObject) && !goodAnswers.includes(word)"
       [class.bg-light]="currentWordIsUnanswered" [class.bg-success]="goodAnswers.includes(word)"
       class="card card-style"
       id="mainContent">
    <div class="card-body">
      <h5 class="card-title greek">{{word.word}}</h5>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
              aria-expanded="false" aria-controls="collapseExample">Definition
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-down" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
        </svg>
      </button>
      <div class="collapse" id="collapseExample">
        <br/>
        <p class="card-text">G{{word.strongsNr}} <span
          *ngIf="word.lexiconEntry !== undefined || word.lexiconEntry !== undefined">({{word.lexiconEntry.usage}}
          )</span></p>
        <p class="card-text greek"
           *ngIf="(word.lexiconEntry !== undefined || word.lexiconEntry.wordComplete !== undefined) && word.lexiconEntry.wordComplete.trim() !== word.word.trim()">{{word.lexiconEntry.wordComplete}}</p>
        <p class="card-text"
           title="{{ morphologyGenerator.convertWordPartsToReadableForm(word.partsOfSpeech, true)}}">{{word.morphology}}</p>
        <!--      <p class="card-text">{{word.occurrencesInRange}}x in selected Bible range</p>-->
      </div>
    </div>
  </div>
  <br/>

  <div style="text-align: right; ">
    <button (click)="nextWord()" class="btn btn-primary">Next</button>
  </div>
  <br/>

  <div class="d-flex justify-content-center align-items-center container card">
    <form (submit)="submit($event)" [formGroup]="parsingForm" class="form-group">
      <div class="row align-items-center justify-content-center">

        <!--Type-->
        <div class="form-group col-auto">
          <label class="mr-sm-2" for="tenseCtrl">Type</label>
          <select class="form-control" id="typeCtrl" formControlName="type"
                  (change)="determineAvailableControlsWhenOptionIsSelected($event)">
            <option selected>Choose...</option>
            <option *ngFor="let type of types" [selected]="type.isChecked"
                    [value]="type.abbreviation">{{type.name}}
            </option>
          </select>
        </div>


        <!--Tenses-->
        <div class="form-group col-auto"> <!-- *ngIf="parsingForm.controls.tense.enabled" -->
          <label class="mr-sm-2" for="tenseCtrl">Tense</label>
          <select class="form-control" id="tenseCtrl" formControlName="tense">
            <option selected>Choose...</option>
            <option *ngFor="let tense of verbTenses" [selected]="tense.isChecked"
                    [value]="tense.abbreviation">{{tense.name}}</option>
          </select>
        </div>

        <!--Voices-->
        <div class="form-group col-auto"> <!--  *ngIf="parsingForm.controls.voice.enabled" -->
          <label class="mr-sm-2" for="voiceCtrl">Voice</label>
          <select class="form-control" id="voiceCtrl" formControlName="voice">
            <option selected>Choose...</option>
            <option *ngFor="let voice of voices" [selected]="voice.isChecked"
                    [value]="voice.abbreviation">{{voice.name}}</option>
          </select>
        </div>

        <!--Mood-->
        <div class="form-group col-auto"> <!--  *ngIf="parsingForm.controls.mood.enabled" -->
          <label class="mr-sm-2" for="moodCtrl">Mood</label>
          <select class="form-control" id="moodCtrl" formControlName="mood"
                  (change)="determineAvailableControlsWhenOptionIsSelected($event)">
            <option selected>Choose...</option>
            <option *ngFor="let mood of moods" [selected]="mood.isChecked"
                    [value]="mood.abbreviation">{{mood.name}}</option>
          </select>
        </div>

        <!--Persons-->
        <div class="form-group col-auto"> <!--  *ngIf="parsingForm.controls.person.enabled" -->
          <label class="mr-sm-2" for="personCtrl">Person</label>
          <select class="form-control" id="personCtrl" formControlName="person">
            <option selected>Choose...</option>
            <option *ngFor="let person of persons" [selected]="person.isChecked"
                    [value]="person.abbreviation">{{person.name}}</option>
          </select>
        </div>

        <!--Cases-->
        <div class="form-group col-auto"> <!--  *ngIf="parsingForm.controls.case.enabled" -->
          <label class="mr-sm-2" for="caseCtrl">Case</label>
          <select class="form-control" id="caseCtrl" formControlName="case">
            <option selected>Choose...</option>
            <option *ngFor="let case of cases" [selected]="case.isChecked"
                    [value]="case.abbreviation">{{case.name}}</option>
          </select>
        </div>

        <!--Numbers-->
        <div class="form-group col-auto"> <!--  *ngIf="parsingForm.controls.number.enabled" -->
          <label class="mr-sm-2" for="numberCtrl">Number</label>
          <select class="form-control" id="numberCtrl"
                  formControlName="number">
            <option selected>Choose...</option>
            <option *ngFor="let number of numbers" [selected]="number.isChecked"
                    [value]="number.abbreviation">{{number.name}}</option>
          </select>
        </div>

        <!--Genders-->
        <div class="form-group col-auto"> <!--  *ngIf="parsingForm.controls.gender.enabled" -->
          <label class="mr-sm-2" for="genderCtrl">Gender</label>
          <select class="form-control" id="genderCtrl" formControlName="gender">
            <option selected>Choose...</option>
            <option *ngFor="let gender of genders" [selected]="gender.isChecked"
                    [value]="gender.abbreviation">{{gender.name}}</option>
          </select>
        </div>
      </div>

      <button class="btn btn-primary float-right" type="submit" (submit)="submit($event)">Answer</button>
    </form>
  </div>
</ng-container>
