<ng-container class="container" *ngIf="word !== null">
  <div class="alert alert-secondary text-center font-weight-bold" role="alert">
    {{ state.bibleRange}} ({{wordIndex}} of {{words.length}} words)
    <div>
      <span style="color: green" class="mr-2"><fa-icon [icon]="thumbsUp"></fa-icon>
        {{goodAnswers.length}}</span>
      <span style="color: red"><fa-icon [icon]="thumbsDown"></fa-icon>
        {{wrongAnswers.length}}</span>
    </div>
  </div>

  <mat-accordion togglePosition="after">
    <mat-expansion-panel #expansionPanel>
      <mat-expansion-panel-header class="text-center" style="font-size: 18px;">
        <mat-panel-title class="greek" style="display: block; text-align: center;">{{word.word}}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text-center">
        <p class="card-text">G{{word.strongsNr}}
          <span
            *ngIf="word.lexiconEntry !== undefined && word.lexiconEntry.usage !== undefined">({{word.lexiconEntry.usage}}
            )</span>
          <span
            *ngIf="word.lexiconEntry !== undefined && word.lexiconEntry.shortDefinition !== undefined">{{word.lexiconEntry.shortDefinition}}
              </span>
        </p>
        <p class="card-text greek"
           *ngIf="(word.lexiconEntry !== undefined && word.lexiconEntry.wordComplete !== undefined) && word.lexiconEntry.wordComplete.trim() !== word.word.trim()">{{word.lexiconEntry.wordComplete}}</p>
        <p class="card-text"
           title="{{ morphologyGenerator.convertWordPartsToReadableForm(word.partsOfSpeech, true)}}">{{word.morphology}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <br/>
  <div style="text-align: right; ">
    <button (click)="nextWord()" class="btn btn-primary">Next</button>
  </div>
  <br/>

  <form (submit)="submit($event)" [formGroup]="parsingForm">
    <mat-horizontal-stepper labelPosition="bottom" #stepper [linear]="false">
      <mat-step label="Type">
        <mat-radio-group (change)="determineAvailableControlsWhenOptionIsSelected(null)" id="typeCtrl"
                         formControlName="type">
          <mat-radio-button *ngFor="let type of types" [value]="type.abbreviation">{{type.name}}</mat-radio-button>
        </mat-radio-group>
      </mat-step>

      <mat-step label="Tense" [completed]="parsingForm.controls.tense.disabled"
                [editable]="parsingForm.controls.tense.enabled">
        <mat-radio-group id="tenseCtrl" formControlName="tense">
          <mat-radio-button [checked]="true">None</mat-radio-button>
          <mat-radio-button *ngFor="let tense of verbTenses"
                            value="{{tense.abbreviation}}">{{tense.name}}</mat-radio-button>
        </mat-radio-group>
      </mat-step>

      <mat-step label="Voice" [completed]="parsingForm.controls.voice.disabled"
                [editable]="parsingForm.controls.voice.enabled">
        <mat-radio-group id="voiceCtrl" formControlName="voice">
          <mat-radio-button [checked]="true">None</mat-radio-button>
          <mat-radio-button *ngFor="let voice of voices"
                            value="{{voice.abbreviation}}">{{voice.name}}</mat-radio-button>
        </mat-radio-group>
      </mat-step>

      <mat-step label="Mood" [completed]="parsingForm.controls.mood.disabled"
                [editable]="parsingForm.controls.mood.enabled">
        <mat-radio-group id="moodCtrl" formControlName="mood">
          <mat-radio-button [checked]="true">None</mat-radio-button>
          <mat-radio-button *ngFor="let mood of moods"
                            value="{{mood.abbreviation}}">{{mood.name}}</mat-radio-button>
        </mat-radio-group>
      </mat-step>

      <mat-step label="Person"
                [completed]="this.parsingForm.controls.person.disabled "
                [editable]="this.parsingForm.controls.person.enabled">
        <mat-radio-group id="personCtrl" formControlName="person">
          <mat-radio-button [checked]="true">None</mat-radio-button>
          <mat-radio-button *ngFor="let person of persons"
                            value="{{person.abbreviation}}">{{person.name}}</mat-radio-button>
        </mat-radio-group>
      </mat-step>

      <mat-step label="Case, gender, number"
                [completed]="this.parsingForm.controls.case.disabled && this.parsingForm.controls.gender.disabled &&  this.parsingForm.controls.number.disabled"
                [editable]="this.parsingForm.controls.case.enabled && this.parsingForm.controls.gender.enabled && this.parsingForm.controls.number.enabled">

        <mat-radio-group id="caseCtrl" formControlName="case">
          <mat-radio-button [checked]="true">None</mat-radio-button>
          <mat-radio-button *ngFor="let case of cases"
                            value="{{case.abbreviation}}">{{case.name}}</mat-radio-button>
        </mat-radio-group>

        <br/>

        <mat-radio-group id="genderCtrl" formControlName="gender">
          <mat-radio-button [checked]="true">None</mat-radio-button>
          <mat-radio-button *ngFor="let gender of genders"
                            value="{{gender.abbreviation}}">{{gender.name}}</mat-radio-button>
        </mat-radio-group>
        <br/>

        <mat-radio-group id="numberCtrl" formControlName="number">
          <mat-radio-button [checked]="true">None</mat-radio-button>
          <mat-radio-button *ngFor="let number of numbers"
                            value="{{number.abbreviation}}">{{number.name}}</mat-radio-button>
        </mat-radio-group>

      </mat-step>
    </mat-horizontal-stepper>

    <br/>

    <div class="text-right">
      <button mat-raised-button color="accent" type="submit" (submit)="submit($event)">Answer</button>
    </div>
  </form>
</ng-container>
