/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
  padding: 20px;
}

@font-face {
  font-family: "SBL Greek";
  src: url(assets/SBL_grk.ttf);
  src: url(assets/SBL_grk.ttf);
  src: local("fonts/SBL_grk.ttf"), url(assets/SBL_grk.ttf) format("ttf")
}

.greek {
  font-family: 'SBL Greek', serif;
  font-size: 120%;
  letter-spacing: 2px
}


