/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/


@font-face {
  font-family: "SBL Greek";
  src: url(assets/SBL_grk.ttf);
  src: url(assets/SBL_grk.ttf);
  src: local("fonts/SBL_grk.ttf"), url(assets/SBL_grk.ttf) format("ttf")
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.content {
  padding: 20px;
}

.greek {
  font-family: 'SBL Greek', serif;
  font-size: 120%;
  letter-spacing: 2px
}
