<div>
  <h3>My scores</h3>
  <p>These scores are not stored in our database, they are stored on your browsers (LocalStorage). When you switch
    browsers they will not be available to you there.</p>

  <mat-card *ngIf="scores.length ===0">
    <p>
      <fa-icon [icon]="exclamationIcon"></fa-icon>
      It appears that you do not have any scores yet. Complete a parsing session and your scores will be
      registered.
    </p>
  </mat-card>

  <table mat-table [dataSource]="scoresDataSource" class="mat-elevation-z8" style="width: 100%"
         *ngIf="scores.length !==0"
         matSort>

    <ng-container matColumnDef="range">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Range</th>
      <td mat-cell *matCellDef="let element"> {{element.range}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
      <td mat-cell *matCellDef="let element"> {{element.dateFormatted}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfWords">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # of words</th>
      <td mat-cell *matCellDef="let element">{{element.numberOfWords}}</td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Score</th>
      <td mat-cell *matCellDef="let element">{{(element.goodAnswers / element.numberOfWords)  | percent}}</td>
    </ng-container>

    <ng-container matColumnDef="answers">
      <th mat-header-cell *matHeaderCellDef>
        <fa-icon [icon]="thumbsUp" matTooltip="Good answers"></fa-icon>
        /
        <fa-icon [icon]="thumbsDown" matTooltip="Wrong answers"></fa-icon>
        /
        <fa-icon [icon]="skip" matTooltip="Skipped words"></fa-icon>
      </th>
      <td mat-cell *matCellDef="let element">{{element.goodAnswers}} / {{element.wrongAnswers}}
        / {{element.skippedWords}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <fa-icon [icon]="trash" matTooltip="Delete this score" (click)="deleteScore(element)"></fa-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
