<div ngxUiLoaderBlurred>
  <form [formGroup]="bibleRangeForm" (ngSubmit)="submit()">
    <div>
      <mat-label class="font-weight-bold">From</mat-label>
      <mat-form-field appearance="outline" class="selectBook">
        <mat-label>Book</mat-label>
        <mat-select formControlName="bibleBook"
                    (selectionChange)="bookSelected()">
          <mat-option *ngFor="let book of bibleBooks" [value]="book.number">
            {{book.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="chapter-verse-selectbox">
        <mat-label>Chapter</mat-label>
        <mat-select formControlName="bibleBookFromChapter" (selectionChange)="beginningChapterSelected()">
          <mat-option *ngFor="let item of selectedBook.chapters" [value]="item.chapter">
            {{item.chapter}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-label style="margin-left: 5px">:</mat-label>

      <mat-form-field appearance="outline" class="chapter-verse-selectbox">
        <mat-label>Verse</mat-label>
        <mat-select formControlName="bibleBookFromVerse" (selectionChange)="setAmountOfWords()">
          <mat-option *ngFor="let x of counter(this.beginningChapter.verses); let i = index" [value]="i+1">
            {{i + 1}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-label class="font-weight-bold">To</mat-label>
      <mat-form-field appearance="outline" class="chapter-verse-selectbox">
        <mat-label>Chapter</mat-label>
        <mat-select formControlName="bibleBookToChapter" (selectionChange)="endingChapterSelected()">
          <mat-option *ngFor="let item of selectedBook.chapters.slice(beginningChapter.chapter - 1)"
                      [value]="item.chapter">
            {{item.chapter}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-label style="margin-left: 5px">:</mat-label>

      <mat-form-field appearance="outline" class="chapter-verse-selectbox">
        <mat-label>Verse</mat-label>
        <mat-select formControlName="bibleBookToVerse" (selectionChange)="setAmountOfWords()">
          <mat-option *ngFor="let x of giveMeVerseNumbers(this.endingChapter)" [value]="x">
            {{x}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>More options</mat-panel-title>
      </mat-expansion-panel-header>
      <div formGroupName="types">
        <p class="font-weight-bold">Type of words</p>
        <div style="margin-left: 15px;">
          <mat-checkbox labelPosition="after" color="accent" class="mat-checkbox type-of-words-checkbox"
                        *ngFor="let type of types" formControlName="{{type.controlId}}"
                        (change)="setAmountOfWords()">
            {{type.name}}s
          </mat-checkbox>
        </div>
      </div>

      <div formGroupName="moods">
        <p class="font-weight-bold">Verb moods</p>
        <div style="margin-left: 15px;">
          <mat-checkbox labelPosition="after" color="accent" class="mat-checkbox type-of-words-checkbox"
                        *ngFor="let mood of moods" formControlName="{{mood.controlId}}"
                        (change)="setAmountOfWords()">
            {{mood.name}}
          </mat-checkbox>
        </div>
      </div>

      <div>
        <mat-checkbox labelPosition="before" color="accent" class="mat-checkbox type-of-words-checkbox"
                      formControlName="verbSecondaryTenses" (change)="verbSecondaryTenses = !verbSecondaryTenses;"
                      matTooltip="Options for choosing secondary tenses like 2nd Aorist and 1-2 Perfect are enabled">
          Enable secondary tenses
        </mat-checkbox>
      </div>
    </mat-expansion-panel>


    <mat-form-field appearance="fill" style="margin-top: 15px">
      <mat-label>Amount of words</mat-label>
      <input matInput type="number" class="form-control" id="amountOfWords" formControlName="amountOfWords"
             [max]="amountOfWordsForRange" [min]="0"/>

      <mat-checkbox formControlName="randomizeWords" labelPosition="before">Randomize word order
      </mat-checkbox>
    </mat-form-field>

    <mat-card *ngIf="amountOfWordsForRange !== null">
      <fa-icon [icon]="zoomIcon"></fa-icon>
      {{amountOfWordsForRange}} unique and declinable word forms found!
    </mat-card>

    <div style="padding-top: 15px">
      <button mat-raised-button [disabled]="bibleRangeForm.controls.amountOfWords.value === 0">
        Start parsing!
      </button>
    </div>
  </form>
</div>

<app-sessions></app-sessions>
<ngx-ui-loader></ngx-ui-loader>
<ngx-ui-loader loaderId="smallLoader" bgsOpacity="0" bgsColor="" overlayColor="" fgsSize="60"
               fgsPosition="center-center"
               fgsType="three-bounce"
               gap="10"
               [hasProgressBar]="false"></ngx-ui-loader>
