.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.chapter-verse-selectbox {
  width: 80px;
  margin-left: 5px;
}

.selectBook {
  width: 140px;
  margin-left: 5px;
}

.type-of-words-checkbox {
  margin-right: 10px;
}
